.card {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 35px;
  padding: 15px;
  width: 32%;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

.card-title {
  color: #333;
  font-weight: 100;
  font-size: 30px;
  margin: 5px 0;
}

.card-description {
  font-size: 15px;
  font-weight: 200;
}

.card-image {
  width: 100%;
  height: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
