.container {
  margin: 20px;
}

.has-text-centered {
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 35px;
  max-width: 90%;
  margin: 0 auto;
}
