.Searcher {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Searcher input {
  border-right: 0;
  border: 1px solid #e23636;
  border-radius: 3px 0 0 3px;
  line-height: 35px;
  height: 35px;
  min-width: 200px;
  outline: 0;
  padding: 5px;
}

.Searcher button {
  background: #e23636;
  border: 1px solid #e23636;
  color: #fff;
  height: 35px;
  padding: 5px 10px;
  border-radius: 0 3px 3px 0;
  outline: 0;
  transition: background .3s ease;
}

.Searcher button:hover {
  background: red;
}

.Searcher button .circle:before {
  background-color: #fff;
}
